# Data Science Tools and Ecosystem

### In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- Create a Jupyter Notebook
- List popular languages for Data Science
- List commonly used libraries used by Data Scientists

### Some of the popular languages that Data Scientists use are:

1. Python
2. Java
3. R

### Some of the commonly used libraries used by Data Scientists include:
1. NumPy
2. Matplotlib
3. Pandas
4. SciKit-Learn

In [ ]:
|Data Science Tools|
--------------------
|Rstudio|
|Apache Spark|
|TensorFlow|

|Data Science Tools|
--------------------
|Rstudio|
|Apache Spark|
|TensorFlow|

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [2]:
#This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author
Megha Sharma